<body>
  <h1 class="text-center"> BMI calculator</h1>
  <div class="container">
  <form method="POST" action="/bmiapi" style="background:rgb(131, 210, 230)">
    <div class="form-group" >
      <label for="exampleInputEmail1">Height in metres:</label>
      <input type="text" class="form-control" id="height" name="height" aria-describedby="emailHelp" placeholder="Example: (1.7 metres))">
    </div>
    <div class="form-group">
      <label for="Weight">Weight in Kilograms:</label>
      <input type="text" class="form-control" id="weight" name="weight" placeholder="Example: (70 kgs)">
    </div>
    <div class="text-center">
    <button type="submit" class="btn btn-dark" >Calculate BMI</button>
  </div>
  </form>

</div>
</body>
